@charset "UTF-8";

body {
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

h1 {
    color: darkred;
}

h2 {
    color: rgb(113, 36, 255);
}

p {
    color: white;
    text-align: justify;
}